# фреймворк для создания веб-сервера.
fastapi==0.115.0

# HTTP-сервер, который запускает FastAPI.
uvicorn[standard]==0.30.0

# шаблонизатор.
jinja2>=3.1.0

# чтение размеров изображений.
Pillow>=10.0.0

gunicorn